In [1]:
import pandas as pd
import numpy as np

### Read and Merge Data

In [2]:
reviews = pd.read_csv('olist_order_reviews_dataset.csv', encoding='UTF-8')
reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [3]:
review_column_drop = ['review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']
reviews = reviews.drop(review_column_drop, axis=1)
reviews.head()

,review_id,order_id,review_score
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5

In [4]:
orders = pd.read_csv('olist_orders_dataset.csv', encoding='UTF-8')
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [5]:
order_column_drop = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
orders = orders.drop(order_column_drop, axis = 1)
orders.head()

,order_id,customer_id,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered

In [6]:
items = pd.read_csv('olist_order_items_dataset.csv', encoding='UTF-8')
items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [7]:
item_column_drop = ['shipping_limit_date', 'seller_id']
items = items.drop(item_column_drop, axis=1)
items.head()

,order_id,order_item_id,product_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,199.90,18.14

In [8]:
reviews_orders = pd.merge(reviews,orders, on='order_id')
reviews_orders_items = pd.merge(reviews_orders, items, on='order_id')
reviews_orders_items.head()

,review_id,order_id,review_score,customer_id,order_status,order_item_id,product_id,price,freight_value
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,41dcb106f807e993532d446263290104,delivered,1,fd25ab760bfbba13c198fa3b4f1a0cd3,185.00,13.63
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,41dcb106f807e993532d446263290104,delivered,2,fd25ab760bfbba13c198fa3b4f1a0cd3,185.00,13.63
2,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,1,be0dbdc3d67d55727a65d4cd696ca73c,79.79,8.30
3,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,e226dfed6544df5b7b87a48208690feb,delivered,1,d1c427060a0f73f6b889a5c7c61f2ac4,149.00,45.12
4,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,1,52c80cedd4e90108bf4fa6a206ef6b03,179.99,42.85

In [9]:
print('There are {rows} data in reviews_orders_items'.format(rows=reviews_orders_items.shape[0]))

There are 113322 data in reviews_orders_items

In [10]:
reviews_orders_items.columns

Index(['review_id', 'order_id', 'review_score', 'customer_id', 'order_status',
       'order_item_id', 'product_id', 'price', 'freight_value'],
      dtype='object')

### Drop NaN and Unwanted order_status

In [11]:
reviews_orders_items = reviews_orders_items[reviews_orders_items['order_status'].str.match('delivered')]
reviews_orders_items = reviews_orders_items.dropna(axis = 0)
print('There are {rows} data in reviews_orders_items after'.format(rows=reviews_orders_items.shape[0]))

There are 110848 data in reviews_orders_items after

In [12]:
# make sure there is no NaN value
a = reviews_orders_items.isna()
if False in a:
    print('yes')

### Statistics: product_bought_count, product_average_score

In [13]:
print(reviews_orders_items['review_score'].describe())

count    110848.000000
mean          4.066036
std           1.359516
min           1.000000
25%           4.000000
50%           5.000000
75%           5.000000
max           5.000000
Name: review_score, dtype: float64

In [14]:
product_bought_count = reviews_orders_items.groupby(['product_id']).size().reset_index(name='product_bought_count')
product_bought_count.head()

                         product_id  product_bought_count
0  00066f42aeeb9f3007548bb9d3f33c38                     1
1  00088930e925c41fd95ebfe695fd2655                     1
2  0009406fd7479715e4bef61dd91f2462                     1
3  000b8f95fcb9e0096488278317764d19                     2
4  000d9be29b5207b54e86aa1b1ac54872                     1

In [15]:
products = reviews_orders_items[['product_id','review_score']]
product_avg_score = products.groupby(['product_id'], as_index=False).mean()
product_avg_score.head()

                         product_id  review_score
0  00066f42aeeb9f3007548bb9d3f33c38           5.0
1  00088930e925c41fd95ebfe695fd2655           4.0
2  0009406fd7479715e4bef61dd91f2462           1.0
3  000b8f95fcb9e0096488278317764d19           5.0
4  000d9be29b5207b54e86aa1b1ac54872           5.0

In [16]:
product_statistics = pd.merge(product_avg_score, product_bought_count,on='product_id')
product_statistics.head()

                         product_id  review_score  product_bought_count
0  00066f42aeeb9f3007548bb9d3f33c38           5.0                     1
1  00088930e925c41fd95ebfe695fd2655           4.0                     1
2  0009406fd7479715e4bef61dd91f2462           1.0                     1
3  000b8f95fcb9e0096488278317764d19           5.0                     2
4  000d9be29b5207b54e86aa1b1ac54872           5.0                     1

In [17]:
drop_columns = ['review_id', 'order_id', 'review_score', 'order_status','order_item_id','price', 'freight_value']
customer_product = reviews_orders_items.drop(drop_columns, axis=1)
#print(customer_product.columns)
customer_product.head()

                        customer_id                        product_id
0  41dcb106f807e993532d446263290104  fd25ab760bfbba13c198fa3b4f1a0cd3
1  41dcb106f807e993532d446263290104  fd25ab760bfbba13c198fa3b4f1a0cd3
2  8a2e7ef9053dea531e4dc76bd6d853e6  be0dbdc3d67d55727a65d4cd696ca73c
3  e226dfed6544df5b7b87a48208690feb  d1c427060a0f73f6b889a5c7c61f2ac4
4  de6dff97e5f1ba84a3cd9a3bc97df5f6  52c80cedd4e90108bf4fa6a206ef6b03

In [18]:
product_statistics_new = customer_product.merge(product_statistics, left_on='product_id',right_on='product_id')
# product_statistics_new = product_statistics.merge(customer_product,left_on='product_id',right_on='product_id',how='left')
product_statistics_new.head(10)

,customer_id,product_id,review_score,product_bought_count
0,41dcb106f807e993532d446263290104,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
1,41dcb106f807e993532d446263290104,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
2,b1757da2a461d581e1a3b280ca181b7c,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
3,da2bd16b131bc90653b87fe4d8fd266e,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
4,8a2e7ef9053dea531e4dc76bd6d853e6,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
5,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
6,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
7,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
8,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
9,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27

In [19]:
product_statistics_new = customer_product.merge(product_statistics, left_on='product_id',right_on='product_id',how='right')
# product_statistics_new = product_statistics.merge(customer_product,left_on='product_id',right_on='product_id',how='left')
product_statistics_new.head(10)

,customer_id,product_id,review_score,product_bought_count
0,41dcb106f807e993532d446263290104,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
1,41dcb106f807e993532d446263290104,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
2,b1757da2a461d581e1a3b280ca181b7c,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
3,da2bd16b131bc90653b87fe4d8fd266e,fd25ab760bfbba13c198fa3b4f1a0cd3,4.500000,4
4,8a2e7ef9053dea531e4dc76bd6d853e6,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
5,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
6,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
7,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
8,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27
9,e43a8c4a2cacc15e45d6a73beb2ee7e8,be0dbdc3d67d55727a65d4cd696ca73c,3.111111,27

In [20]:
print(product_statistics_new.shape[0])

110848

### New some pivot DataFrames

In [21]:
b = product_statistics_new.isna()
if False in b:
    print('yes')

In [23]:
product_statistics_new = product_statistics_new.drop_duplicates(['product_id','customer_id'])
num_rows = product_statistics_new.shape[0]
print(num_rows)

110848

In [24]:
# because the datasaet is too large, and pivot will cause overflow error, so we have to split dataframe first

In [25]:
# ind = round(num_rows/100)
# frame_list = []
# for i in range(100):
#     frame = product_statistics_new.iloc[i+i*ind:i+(i+1)*ind,::]
#     frame_list.append(frame)
#     #print('i+i*ind : ',i+i*ind)
#     #print('i+(i+1)*ind : ',i+(i+1)*ind)
#     #print('-'*30)
# print(len(frame_list))
# print(frame_list[1].shape[0]) # numbers of row of each dataframe

100
1108

In [26]:
#frame_list[1].head()

,customer_id,product_id,review_score,product_bought_count
1109,dfe36f6f91b8ee76334aa784f298e3ba,53b36df67ebb7c41585e8d54d6772e08,4.190031,321
1110,9c898eec2f748dea3ca779b3301f15c7,53b36df67ebb7c41585e8d54d6772e08,4.190031,321
1111,a9ea7e7eb22365e3e98eb723f0662066,53b36df67ebb7c41585e8d54d6772e08,4.190031,321
1112,23ba08671cfa9af47bf10ff731afb507,53b36df67ebb7c41585e8d54d6772e08,4.190031,321
1113,6a2641f4a76f73594fed753d6d74aad0,53b36df67ebb7c41585e8d54d6772e08,4.190031,321

In [27]:
#test1 = frame_list[1].drop_duplicates()

In [29]:
# customer_product_pivot1 = test1.pivot(index = 'customer_id',columns='product_id', values='review_score').fillna(0)
# customer_product_pivot1.head()

product_id,016711f78a6a87696645db0a6a834826,18d307d967bbf1300aa00b34f34c374c,1dec4c88c685d5a07bf01dcb0f8bf9f8,2028bf1b01cafb2d2b1901fca4083222,20fbf8f8316bd76f105599ecc7e485f7,22ca1399dde9714934f8ec09b6aca2fe,389d119b48cf3043d311335e499d9c6b,3a0a3519bcf5912cff87d401e007c5db,47ae44a186225b8a87ebb7bf39cc1444,4c6da5fa882447ab7e8d0fb767f8aa99,...,ca38c039b717207dec906f4fa9a21db7,cee96128d25ffe3429e69452233838dd,d487634085fb3d1a632265c1e3de08c1,ddceb6eef6af67e9fbbd4c148dbe5fd9,e2bab04d6a471ed7a3629fbe2a64b55a,e482ad963bfb9a9abc51b9850aca97b7,e5da60b217874889dd4becf29412d793,eb9b44e05684527fbfdfd0ff5cb86250,fcf4c9a897ae906e5a467ebf4589dffd,fdc1340be043a0e6807741d687fc1cd4
customer_id,,,,,,,,,,,,,,,,,,,,,
0010068a73b7c56da5758c3f9e5c7375,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.625,0.0,0.0,0.0
01d5f7506a41927955ef41a530329c30,0.0,0.0,0.0,0.0,0.0,0.0,4.128205,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
0222766ad058124916f73176998b8df3,0.0,0.0,0.0,0.0,0.0,0.0,4.128205,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
0297d4246fd48c7ed31b81c7f99776eb,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
029e575b0cdb8a5696a502ed2f9391e3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0

In [30]:
# test2 = frame_list[1].drop_duplicates()

In [31]:
# customer_product_pivot2 = test2.pivot(index = 'customer_id',columns='product_id', values='review_score').fillna(0)
# customer_product_pivot2.head()

product_id,016711f78a6a87696645db0a6a834826,18d307d967bbf1300aa00b34f34c374c,1dec4c88c685d5a07bf01dcb0f8bf9f8,2028bf1b01cafb2d2b1901fca4083222,20fbf8f8316bd76f105599ecc7e485f7,22ca1399dde9714934f8ec09b6aca2fe,389d119b48cf3043d311335e499d9c6b,3a0a3519bcf5912cff87d401e007c5db,47ae44a186225b8a87ebb7bf39cc1444,4c6da5fa882447ab7e8d0fb767f8aa99,...,ca38c039b717207dec906f4fa9a21db7,cee96128d25ffe3429e69452233838dd,d487634085fb3d1a632265c1e3de08c1,ddceb6eef6af67e9fbbd4c148dbe5fd9,e2bab04d6a471ed7a3629fbe2a64b55a,e482ad963bfb9a9abc51b9850aca97b7,e5da60b217874889dd4becf29412d793,eb9b44e05684527fbfdfd0ff5cb86250,fcf4c9a897ae906e5a467ebf4589dffd,fdc1340be043a0e6807741d687fc1cd4
customer_id,,,,,,,,,,,,,,,,,,,,,
0010068a73b7c56da5758c3f9e5c7375,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.625,0.0,0.0,0.0
01d5f7506a41927955ef41a530329c30,0.0,0.0,0.0,0.0,0.0,0.0,4.128205,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
0222766ad058124916f73176998b8df3,0.0,0.0,0.0,0.0,0.0,0.0,4.128205,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
0297d4246fd48c7ed31b81c7f99776eb,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
029e575b0cdb8a5696a502ed2f9391e3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0

In [32]:
# concat_test = pd.concat([customer_product_pivot1, customer_product_pivot2],axis=0)
# print(concat_test.shape)

(1990, 44)

In [31]:
# 沒錯! 就是太大了，所以才overflow   we can concat dataframes: res = pd.concat([df1,df2,df3],axis=0)

In [41]:
ind = round(num_rows/100)
#frame_list = []
frame = product_statistics_new.iloc[0:1108,::]
frame = frame.drop_duplicates()
pivotFrame = frame.pivot(index = 'customer_id',columns='product_id', values='review_score').fillna(0)

for i in range(1,100):
    frame = product_statistics_new.iloc[i+i*ind:i+(i+1)*ind,::]
    frame = frame.drop_duplicates()
    pivot = frame.pivot(index = 'customer_id',columns='product_id', values='review_score').fillna(0)
    pivotFrame=pd.concat([pivotFrame,pivot], axis=0)
    #frame_list.append(frame)
    #print('i+i*ind : ',i+i*ind)
    #print('i+(i+1)*ind : ',i+(i+1)*ind)
    #print('-'*30)
#print(len(frame_list))
#print(frame_list[1].shape[0]) # numbers of row of each dataframe

c:\python37\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

KeyboardInterrupt:

In [42]:
print(pivotFrame.shape)

(70786, 12642)