In [2]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}


#__connect-googledrive__
!mkdir -p Drive
!google-drive-ocamlfuse Drive

E: Package 'python-software-properties' has no installation candidate
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 132681 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.13-0ubuntu1~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.13-0ubuntu1~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.13-0ubuntu1~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
#__upload_file__
#solve_error[https://github.com/googlecolab/colabtools/issues/17]
# from google.colab import files
# uploaded = files.upload()
# for fn in uploaded.keys():
#   print('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

Saving olist_customers_dataset.csv to olist_customers_dataset.csv
User uploaded file "olist_customers_dataset.csv" with length 9033957 bytes

In [10]:
%%bash
cd Drive/WiDS/E-commerce/
ls

olist_customers_dataset.csv
olist_geolocation_dataset.csv
olist_order_items_dataset.csv
olist_order_payments_dataset.csv
olist_order_reviews_dataset.csv
olist_orders_dataset.csv
olist_products_dataset.csv
olist_sellers_dataset.csv
product_category_name_translation.csv

In [0]:
import pandas as pd
import numpy as np
from functools import reduce

In [0]:
#__read_data__
#row_count : 99441
order_dataset = pd.read_csv("Drive/WiDS/E-commerce/olist_orders_dataset.csv")
#row_count : 99441
customer_dataset = pd.read_csv("Drive/WiDS/E-commerce/olist_customers_dataset.csv")
#row_count : 103886
order_payment_dataset = pd.read_csv("Drive/WiDS/E-commerce/olist_order_payments_dataset.csv")
#row_count : 112650
order_item_dataset = pd.read_csv("Drive/WiDS/E-commerce/olist_order_items_dataset.csv")
#row_count : 100000
order_reviews_dataset = pd.read_csv("Drive/WiDS/E-commerce/olist_order_reviews_dataset.csv")
#row_count : 32951
products_dataset = pd.read_csv("Drive/WiDS/E-commerce/olist_products_dataset.csv")
products_name_translation = pd.read_csv("Drive/WiDS/E-commerce/product_category_name_translation.csv")

In [105]:
order_reviews_dataset[order_reviews_dataset.duplicated(['order_id'])]

                              review_id  ... review_answer_timestamp
1128   46abf3ea0b2710ad41390fdb79c32d84  ...     2017-11-10 20:07:48
3127   aa193e76d35950c4ae988237bb36ed2b  ...     2018-01-18 17:36:45
8164   40294ea5a778dc62080d6b3f55d361ce  ...     2018-03-24 00:23:06
9128   32e2c7e889f7a185d462265398ee3631  ...     2017-10-22 00:47:25
9868   95a3135743556b117d888cc8c6e12e11  ...     2017-09-17 11:14:08
...                                 ...  ...                     ...
99762  dfb3db02188d809d5cd199496b6da87e  ...     2018-02-19 19:29:19
99883  2c6c08892b83ba4c1be33037c2842294  ...     2017-07-05 19:06:59
99939  2afe63a67dfd99b3038f568fb47ee761  ...     2018-03-04 22:56:47
99953  44d1e9165ec54b1d89d33594856af859  ...     2017-05-24 23:15:21
99974  40743b46a0ee86375cedb95e82b78d75  ...     2018-08-08 16:56:16

[559 rows x 7 columns]

In [96]:
#__payment__(因credit_card, boleto佔了9成，故將剩餘付款方式將取代為others)
#__column__(order_id, 訂單中使用boleto付款商品數, 訂單中使用cc付款商品數, 訂單中使用others付款商品數, 使用信用卡分期期數,訂單中使用boleto付款金額, 訂單中使用cc付款金額, 訂單中使用others付款金額 )

# order_payment_dataset['payment_type'].unique().tolist()

order_payment_dataset['payment_cnt'] = 1
vals_to_replace = {'credit_card':'credit_card', 'boleto':'boleto', 'voucher':'others', 'debit_card':'others', 'not_defined':'others'}
order_payment_dataset['payment_type_new'] = order_payment_dataset['payment_type'].map(vals_to_replace)
order_payment_update = order_payment_dataset[['order_id', 'payment_type_new', 'payment_installments', 'payment_value', 'payment_cnt']]
order_payment_update = order_payment_update.groupby(['order_id','payment_type_new'],as_index=False).agg({'payment_installments': 'sum','payment_value': 'sum', 'payment_cnt': 'sum'})
payment_pivot = order_payment_update.pivot_table(order_payment_update, index=['order_id'],columns='payment_type_new')
order_payment_Result = pd.DataFrame(payment_pivot.to_records())
order_payment_Result = order_payment_Result.iloc[:, [0,1,2,3,5,7,8,9]]
order_payment_Result.columns = ['order_id','payment_cnt_boleto', 'payment_cnt_creditcard', 'payment_cnt_others', 'credit_card_installments', 'payment_value_boleto', 'payment_value_creditcard', 'payment_value_others']
order_payment_Result['total_value'] = order_payment_Result.payment_value_boleto.fillna(0) + order_payment_Result.payment_value_creditcard.fillna(0) + order_payment_Result.payment_value_others.fillna(0)
order_payment_Result


# payment_Result.loc[payment_Result['order_id'] == 'ccf804e764ed5650cd8759557269dc13']

                               order_id  ...  total_value
0      00010242fe8c5a6d1ba2dd792cb16214  ...        72.19
1      00018f77f2f0320c557190d7a144bdd3  ...       259.83
2      000229ec398224ef6ca0657da4fc703e  ...       216.87
3      00024acbcdf0a6daa1e931b038114c75  ...        25.78
4      00042b26cf59d7ce69dfabb4e55b4fd9  ...       218.04
...                                 ...  ...          ...
99435  fffc94f6ce00a00581880bf54a75a037  ...       343.40
99436  fffcd46ef2263f404302a634eb57f7eb  ...       386.53
99437  fffce4705a9662cd70adb13d4a31832d  ...       116.85
99438  fffe18544ffabc95dfada21779c9644f  ...        64.71
99439  fffe41c64501cc87c801fd61db3f6244  ...        55.79

[99440 rows x 9 columns]

In [171]:
#__item__(紀錄訂單中各個商品 join出商品名稱 merge)
order_item_product = pd.merge(order_item_dataset[['order_item_id','order_id', 'product_id', 'price', 'freight_value']], products_dataset[['product_id', 'product_category_name']], on='product_id', how='left') 
order_itme_product_trans = pd.merge(order_item_product, products_name_translation, on='product_category_name', how='left') 

aggregations = {
    'order_item_id': {
        'order_item_cnt': 'max' 
    },
    'price': {
        'order_total_price': 'sum' 
    },
    'freight_value': {
        'order_freight_value': 'sum'
    },
    'product_category_name_english': {
        'order_prod_category_cnt': 'count' ,
        'order_prod_category_distint_cnt': 'nunique' 
    },
    'product_id': {
        'order_prod_id_distint_cnt': 'nunique' 
    }
}

order_itme_product_trans_update = order_itme_product_trans.groupby(['order_id']).agg(aggregations).reset_index()
order_itme_product_trans_update.columns = order_itme_product_trans_update.columns.droplevel(0)
order_itme_product_group = order_itme_product_trans.groupby('order_id')['product_category_name_english'].apply(lambda x: ','.join(x.astype(str))).reset_index()
order_itme_product_trans_update.rename(columns={ order_itme_product_trans_update.columns[0]: "order_id" }, inplace = True)
order_itme_product_trans_update.loc[order_itme_product_trans_update['order_prod_category_distint_cnt'] >2]
order_item_result = pd.merge(order_itme_product_trans_update, order_itme_product_group, on='order_id')
order_item_result['product_category_name_english'] = order_item_result['product_category_name_english'].apply(lambda x: ', '.join(sorted(set(x.split(',')))))
order_item_result

order_item_result.loc[order_item_result['order_item_cnt'] > 2]

/usr/local/lib/python3.6/dist-packages/pandas/core/groupby/generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

                               order_id  ...  product_category_name_english
31     00143d0f86d6fbd9f9b38ab440ac16f5  ...                 sports_leisure
39     001ab0a7578dd66cd4b0a71f5b6e1e41  ...                    electronics
124    00526a9d4ebde463baee25f386963ddc  ...                           food
134    005d9a5423d47281ac463a968b3936fb  ...                     baby, toys
228    00a57dfbb049fbaae10763e2cf15f797  ...          computers_accessories
...                                 ...  ...                            ...
98563  ffb8f7de8940249a3221252818937ecb  ...                auto, telephony
98564  ffb9a9cd00c74c11c24aa30b3d78e03b  ...                 bed_bath_table
98600  ffd6f465cab015b452d398ac1f5d978a  ...             christmas_supplies
98637  ffecd5a79a0084f6a592288c67e3c298  ...                    electronics
98659  fffb9224b6fc7c43ebb0904318b10b5f  ...                  watches_gifts

[2287 rows x 8 columns]

In [119]:
#__review__(同筆訂單會有多筆回覆/有回覆的標注1)
order_reviews_update = order_reviews_dataset[order_reviews_dataset.groupby('order_id').review_answer_timestamp.transform('max') == order_reviews_dataset['review_answer_timestamp']]
order_reviews_group = order_reviews_dataset.groupby('order_id')['review_comment_message'].apply(lambda x: ','.join(x.astype(str))).reset_index()
order_reviews_group.review_comment_message.replace('nan', np.nan, inplace=True)
order_reviews_group[['review_comment_message']] = order_reviews_group[['review_comment_message']].applymap(lambda x: 0 if pd.isnull(x) else 1)
order_reviews_result = pd.merge(order_reviews_update[['order_id', 'review_score', 'review_answer_timestamp']], order_reviews_group, on='order_id',how='left')
order_reviews_result

                               order_id  ...  review_comment_message
0      73fc7af87114b39712e6da79b0a377eb  ...                       0
1      a548910a1c6147796b98fdf73dbeba33  ...                       0
2      f9e4b658b201a9f2ecdecbb34bed034b  ...                       0
3      658677c97b385a9be170737859d3511b  ...                       1
4      8e6bfb81e283fa7e4f11123a3fb894f1  ...                       1
...                                 ...  ...                     ...
99436  22ec9f0669f784db00fa86d035cf8602  ...                       0
99437  55d4004744368f5571d1f590031933e4  ...                       1
99438  7725825d039fc1f0ceb7635e3f7d9206  ...                       0
99439  f8bd3f2000c28c5342fedeb5e50f2e75  ...                       1
99440  90531360ecb1eec2a1fbb265a0db0508  ...                       1

[99441 rows x 4 columns]

In [184]:
# __join_table__
order_join_df = [order_dataset, order_item_result, order_payment_Result, order_reviews_result]
order_detail = reduce(lambda left,right: pd.merge(left,right,on='order_id',how='left'), order_join_df)
order_detail = order_detail.loc[order_detail['order_status'] == 'delivered']
replace_cols = ["payment_cnt_boleto","payment_cnt_creditcard","payment_cnt_others","credit_card_installments","payment_value_boleto","payment_value_creditcard","payment_value_others"]
order_detail[replace_cols] = order_detail[replace_cols].replace({np.nan:0})
order_detail['order_purchase_timestamp'] =  pd.to_datetime(order_detail['order_purchase_timestamp'], format='%Y-%m-%d %H:%M:%S')
order_detail['order_delivered_customer_date'] =  pd.to_datetime(order_detail['order_delivered_customer_date'], format='%Y-%m-%d %H:%M:%S')
order_detail['review_answer_timestamp'] =  pd.to_datetime(order_detail['review_answer_timestamp'], format='%Y-%m-%d %H:%M:%S')
order_detail['receive_waiting_day'] = order_detail['order_delivered_customer_date'].sub(order_detail['order_purchase_timestamp'], axis=0)
order_detail['receive_waiting_day'] = order_detail['receive_waiting_day'] / np.timedelta64(1, 'D')
order_detail['review_waiting_day'] = order_detail['review_answer_timestamp'].sub(order_detail['order_delivered_customer_date'], axis=0)
order_detail['review_waiting_day'] = order_detail['review_waiting_day'] / np.timedelta64(1, 'D')



customer_update = pd.merge(customer_dataset, order_dataset[['order_id','customer_id','order_purchase_timestamp']], on='customer_id',how='left')
customer_update = customer_update[['customer_unique_id', 'customer_city', 'customer_state','order_purchase_timestamp']]
customer_update.drop_duplicates(subset=None, keep='first', inplace=True)
customer_update_result = customer_update[customer_update.groupby('customer_unique_id').order_purchase_timestamp.transform('max') == customer_update['order_purchase_timestamp']]
customer_update = customer_update[['customer_unique_id', 'customer_city', 'customer_state']]

order_customer_join = pd.merge(order_detail, customer_dataset[['customer_id','customer_unique_id']], on='customer_id',how='left')
order_customer_result = pd.merge(order_customer_join, customer_update, on='customer_unique_id',how='left')
order_customer_join

aggregations_2 = {
    'order_total_price': {
        'sum_order_total_price': 'sum',
        'avg_order_total_price': 'mean'
    },
     'order_freight_value': {
        'sum_order_freight_value': 'sum',
        'avg_order_freight_value': 'mean'
     },
    'order_prod_category_cnt': {
        'sum_order_prod_category_cnt': 'sum' ,
        'avg_order_prod_category_cnt': 'mean' 
    },
    'order_prod_category_distint_cnt': {
        'avg_order_prod_id_distint_cnt': 'mean' 
    },
    'order_prod_id_distint_cnt': {
        'avg_order_prod_id_distint_cnt': 'mean' 
    },
    'order_item_cnt': {
        'sum_order_item_cnt': 'sum' 
    },
    'payment_cnt_boleto': {
        'sum_payment_cnt_boleto': 'sum' 
    },
    'payment_cnt_creditcard': {
        'sum_payment_cnt_creditcard': 'sum' 
    },
    'payment_cnt_others': {
        'sum_payment_cnt_others': 'sum' 
    },
    'credit_card_installments': {
        'avg_credit_card_installments': 'mean' 
    },
    'payment_value_boleto': {
        'sum_payment_value_boleto': 'sum' 
    },
    'payment_value_creditcard': {
        'sum_payment_value_creditcard': 'sum' 
    },
    'payment_value_others': {
        'sum_payment_value_others': 'sum' 
    },
    'total_value': {
        'sum_total_value': 'sum' ,
        'avg_total_value': 'mean' 
    },
    'review_score': {
        'avg_review_score': 'mean' 
    },
    'order_id': {
        'order_cnt': 'nunique' 
    },
    'receive_waiting_day': {
        'avg_receive_waiting_day': 'mean' 
    },
    'review_waiting_day': {
        'avg_review_waiting_day': 'mean' 
    }
}

analysis_input_temp = order_customer_join.groupby(['customer_unique_id']).agg(aggregations_2).reset_index()
analysis_input_temp.columns = analysis_input_temp.columns.droplevel(0)
analysis_input_temp.rename(columns={ analysis_input_temp.columns[0]: "customer_unique_id" }, inplace = True)
analysis_input_temp
# analysis_input_result
# order_join_customer['customer_unique_id'].nunique()
# customer_update_result[customer_update_result.duplicated(['customer_unique_id'])]
# analysis_input_temp.loc[analysis_input_temp['customer_unique_id'] == '66980c3775537536f77b434d74e520f5']

/usr/local/lib/python3.6/dist-packages/pandas/core/groupby/generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

                     customer_unique_id  ...  avg_review_waiting_day
0      0000366f3b9a7992bf8c76cfdf3221e2  ...                4.705683
1      0000b849f77a49e4a4ce2b2a4ca5be3f  ...                1.185220
2      0000f46a3911fa3c0805444483337064  ...                1.445104
3      0000f6ccb0745a6a4b88665a16c9f078  ...                1.121366
4      0004aac84e0df4da2b147fca70cf8255  ...                4.972674
...                                 ...  ...                     ...
93353  fffcf5a5ff07b0908bd4e2dbc735a684  ...                5.082002
93354  fffea47cd6d3cc0a88bd621562a9d061  ...                5.558090
93355  ffff371b4d645b6ecea244b27531430a  ...                3.096030
93356  ffff5962728ec6157033ef9805bacc48  ...                3.140208
93357  ffffd2657e2aad2907e67c3e9daecbeb  ...                3.056667

[93358 rows x 23 columns]

In [185]:
analysis_input_temp.describe()
# order_customer_join.loc[order_customer_join['customer_unique_id'] == '66980c3775537536f77b434d74e520f5']

       sum_order_total_price  ...  avg_review_waiting_day
count           93358.000000  ...            93350.000000
mean              141.621480  ...                2.900018
std               215.694014  ...               10.870950
min                 0.850000  ...             -186.761065
25%                47.650000  ...                1.234779
50%                89.730000  ...                1.930029
75%               154.737500  ...                3.461389
max             13440.000000  ...              518.979074

[8 rows x 22 columns]