# Clustering

## Import all necessary libraries

In [1]:
#!fc-list :lang=zh family

In [2]:
import os
import glob

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.cluster import KMeans

#pd.set_option('display.max_rows', 10)
plt.rcParams['font.sans-serif'] = ['Noto Sans Mono CJK TC', 'sans-serif'] 
plt.rcParams['axes.unicode_minus'] = False

%matplotlib inline

## Load Data

In [3]:
try:
    from google.colab import drive

    # Mount the folder "drive" on google drive to Colab Notebook
    drive.mount('/content/drive')
    path = '/content/drive/My Drive/wids-taipei/2020-WiDS-Taipei-MLCC-Workshop/dataset/*.csv'
except ModuleNotFoundError:
    path = '../data/*.csv'

### Read data

In [4]:
# Read data
filenames = glob.glob(path)
pd_dict = {}

for filename in filenames:
    name = filename.split("/")[-1].split(".")[0]
    pd_dict[name] = pd.read_csv(os.path.join(filename))

analysis_input = pd_dict['customer_analysis_input']

## k-means

In [5]:
analysis_input

,customer_unique_id,sum_payment_count_boleto,sum_payment_count_creditcard,sum_payment_count_others,avg_credit_card_installments,avg_review_score,sum_review_comment_message,avg_receive_waiting_day,avg_review_waiting_day,item_count,...,total_price_安全配件,total_price_家居生活,total_price_家電,total_price_文具,total_price_書籍,total_price_服飾/配件,total_price_美食,total_price_藝術,customer_city,customer_state
0,0000366f3b9a7992bf8c76cfdf3221e2,0.0,1.0,0.0,8.0,5.0,1,6.411227,11.116910,1,...,0.00,129.90,0.00,0.0,0.00,0.0,0.0,0.0,cajamar,SP
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,1.0,0.0,1.0,4.0,0,3.285590,4.470810,2,...,0.00,0.00,0.00,0.0,125.00,0.0,0.0,0.0,osasco,SP
2,0000f46a3911fa3c0805444483337064,0.0,1.0,0.0,8.0,3.0,0,25.731759,27.176863,3,...,0.00,0.00,0.00,69.0,44.90,0.0,0.0,0.0,sao jose,SC
3,0000f6ccb0745a6a4b88665a16c9f078,0.0,1.0,0.0,4.0,4.0,1,20.037083,21.158449,2,...,0.00,99.99,25.99,0.0,0.00,0.0,0.0,0.0,belem,PA
4,0004aac84e0df4da2b147fca70cf8255,0.0,1.0,0.0,6.0,5.0,0,13.141134,18.113808,3,...,84.99,0.00,180.00,0.0,0.00,0.0,0.0,0.0,sorocaba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93345,fffcf5a5ff07b0908bd4e2dbc735a684,0.0,1.0,0.0,10.0,5.0,0,27.514861,32.596863,4,...,0.00,0.00,0.00,0.0,77.00,0.0,81.0,0.0,sanharo,PE
93346,fffea47cd6d3cc0a88bd621562a9d061,0.0,1.0,0.0,1.0,4.0,0,30.097500,35.655590,1,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,feira de santana,BA
93347,ffff371b4d645b6ecea244b27531430a,0.0,1.0,0.0,1.0,5.0,0,14.872083,17.968113,4,...,0.00,0.00,0.00,0.0,137.94,0.0,100.0,0.0,sinop,MT
93348,ffff5962728ec6157033ef9805bacc48,0.0,1.0,0.0,5.0,5.0,1,11.858854,14.999063,1,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,bom jesus do norte,ES
93349,ffffd2657e2aad2907e67c3e9daecbeb,0.0,1.0,0.0,4.0,5.0,0,7.552118,10.608785,3,...,0.00,0.00,0.00,0.0,0.00,59.9,0.0,0.0,campo largo,PR

### Remove_Outlier

In [6]:
filter_analysis_input = analysis_input.loc[:, ~analysis_input.columns.isin(['customer_unique_id', 'customer_city', 'customer_state'])]
filter_analysis_input

,sum_payment_count_boleto,sum_payment_count_creditcard,sum_payment_count_others,avg_credit_card_installments,avg_review_score,sum_review_comment_message,avg_receive_waiting_day,avg_review_waiting_day,item_count,total_price,...,total_price_商業用途,total_price_嬰兒用品,total_price_安全配件,total_price_家居生活,total_price_家電,total_price_文具,total_price_書籍,total_price_服飾/配件,total_price_美食,total_price_藝術
0,0.0,1.0,0.0,8.0,5.0,1,6.411227,11.116910,1,129.90,...,0.0,0.00,0.00,129.90,0.00,0.0,0.00,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,4.0,0,3.285590,4.470810,2,143.90,...,0.0,0.00,0.00,0.00,0.00,0.0,125.00,0.0,0.0,0.0
2,0.0,1.0,0.0,8.0,3.0,0,25.731759,27.176863,3,280.89,...,0.0,0.00,0.00,0.00,0.00,69.0,44.90,0.0,0.0,0.0
3,0.0,1.0,0.0,4.0,4.0,1,20.037083,21.158449,2,125.98,...,0.0,0.00,0.00,99.99,25.99,0.0,0.00,0.0,0.0,0.0
4,0.0,1.0,0.0,6.0,5.0,0,13.141134,18.113808,3,314.89,...,49.9,0.00,84.99,0.00,180.00,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93345,0.0,1.0,0.0,10.0,5.0,0,27.514861,32.596863,4,1728.00,...,0.0,0.00,0.00,0.00,0.00,0.0,77.00,0.0,81.0,0.0
93346,0.0,1.0,0.0,1.0,4.0,0,30.097500,35.655590,1,64.89,...,0.0,64.89,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
93347,0.0,1.0,0.0,1.0,5.0,0,14.872083,17.968113,4,411.64,...,0.0,0.00,0.00,0.00,0.00,0.0,137.94,0.0,100.0,0.0
93348,0.0,1.0,0.0,5.0,5.0,1,11.858854,14.999063,1,115.00,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
93349,0.0,1.0,0.0,4.0,5.0,0,7.552118,10.608785,3,215.89,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,59.9,0.0,0.0

In [7]:
low = 0
high = .995
quant_df = filter_analysis_input.quantile([low, high])
quant_df

,sum_payment_count_boleto,sum_payment_count_creditcard,sum_payment_count_others,avg_credit_card_installments,avg_review_score,sum_review_comment_message,avg_receive_waiting_day,avg_review_waiting_day,item_count,total_price,...,total_price_商業用途,total_price_嬰兒用品,total_price_安全配件,total_price_家居生活,total_price_家電,total_price_文具,total_price_書籍,total_price_服飾/配件,total_price_美食,total_price_藝術
0.000,0.0,0.0,0.0,0.0,1.0,0.0,0.533414,-32.859687,1.0,0.8500,...,0.0,0.0,0.0,0.000,0.00,0.0,0.00000,0.00000,0.0,0.00
0.995,1.0,2.0,2.0,10.0,5.0,2.0,53.982688,56.796663,11.0,4738.0879,...,499.9,174.9,195.0,798.255,1399.99,129.9,404.39825,370.22205,389.0,99.99

In [8]:
filter_analysis_input = filter_analysis_input.apply(
    lambda x: x[(x>=quant_df.loc[low,x.name]) & (x <= quant_df.loc[high,x.name])], axis=0)
filter_analysis_input = pd.concat([analysis_input.loc[:,'customer_unique_id'], filter_analysis_input], axis=1)
filter_analysis_input.dropna(inplace=True)
filter_analysis_input

,customer_unique_id,sum_payment_count_boleto,sum_payment_count_creditcard,sum_payment_count_others,avg_credit_card_installments,avg_review_score,sum_review_comment_message,avg_receive_waiting_day,avg_review_waiting_day,item_count,...,total_price_商業用途,total_price_嬰兒用品,total_price_安全配件,total_price_家居生活,total_price_家電,total_price_文具,total_price_書籍,total_price_服飾/配件,total_price_美食,total_price_藝術
0,0000366f3b9a7992bf8c76cfdf3221e2,0.0,1.0,0.0,8.0,5.0,1.0,6.411227,11.116910,1.0,...,0.0,0.00,0.00,129.90,0.00,0.0,0.00,0.0,0.0,0.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,1.0,0.0,1.0,4.0,0.0,3.285590,4.470810,2.0,...,0.0,0.00,0.00,0.00,0.00,0.0,125.00,0.0,0.0,0.0
2,0000f46a3911fa3c0805444483337064,0.0,1.0,0.0,8.0,3.0,0.0,25.731759,27.176863,3.0,...,0.0,0.00,0.00,0.00,0.00,69.0,44.90,0.0,0.0,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,0.0,1.0,0.0,4.0,4.0,1.0,20.037083,21.158449,2.0,...,0.0,0.00,0.00,99.99,25.99,0.0,0.00,0.0,0.0,0.0
4,0004aac84e0df4da2b147fca70cf8255,0.0,1.0,0.0,6.0,5.0,0.0,13.141134,18.113808,3.0,...,49.9,0.00,84.99,0.00,180.00,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93343,fffb09418989a0dbff854a28163e47c6,1.0,0.0,0.0,0.0,5.0,0.0,8.911563,10.100984,1.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
93346,fffea47cd6d3cc0a88bd621562a9d061,0.0,1.0,0.0,1.0,4.0,0.0,30.097500,35.655590,1.0,...,0.0,64.89,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
93347,ffff371b4d645b6ecea244b27531430a,0.0,1.0,0.0,1.0,5.0,0.0,14.872083,17.968113,4.0,...,0.0,0.00,0.00,0.00,0.00,0.0,137.94,0.0,100.0,0.0
93348,ffff5962728ec6157033ef9805bacc48,0.0,1.0,0.0,5.0,5.0,1.0,11.858854,14.999063,1.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
93349,ffffd2657e2aad2907e67c3e9daecbeb,0.0,1.0,0.0,4.0,5.0,0.0,7.552118,10.608785,3.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,59.9,0.0,0.0

In [9]:
filter_analysis_input['total_price_trans'] = filter_analysis_input['total_price'] * 7.2
filter_analysis_input['review_comment_message_flag'] = np.where((filter_analysis_input['sum_review_comment_message']) >= 1 , 1, 0)
filter_analysis_input['payment_count_creditcard_flag'] = np.where((filter_analysis_input['sum_payment_count_creditcard']) >= 1 , 1, 0)
filter_analysis_input['3C_flag'] = np.where((filter_analysis_input['item_count_3C']) >= 1 , 1, 0)
filter_analysis_input['休閒生活_flag'] = np.where((filter_analysis_input['item_count_休閒生活']) >= 1 , 1, 0)
filter_analysis_input['家居生活_flag'] = np.where((filter_analysis_input['item_count_家居生活']) >= 1 , 1, 0)
filter_analysis_input

,customer_unique_id,sum_payment_count_boleto,sum_payment_count_creditcard,sum_payment_count_others,avg_credit_card_installments,avg_review_score,sum_review_comment_message,avg_receive_waiting_day,avg_review_waiting_day,item_count,...,total_price_書籍,total_price_服飾/配件,total_price_美食,total_price_藝術,total_price_trans,review_comment_message_flag,payment_count_creditcard_flag,3C_flag,休閒生活_flag,家居生活_flag
0,0000366f3b9a7992bf8c76cfdf3221e2,0.0,1.0,0.0,8.0,5.0,1.0,6.411227,11.116910,1.0,...,0.00,0.0,0.0,0.0,935.280,1,1,0,0,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,1.0,0.0,1.0,4.0,0.0,3.285590,4.470810,2.0,...,125.00,0.0,0.0,0.0,1036.080,0,1,0,0,0
2,0000f46a3911fa3c0805444483337064,0.0,1.0,0.0,8.0,3.0,0.0,25.731759,27.176863,3.0,...,44.90,0.0,0.0,0.0,2022.408,0,1,0,0,0
3,0000f6ccb0745a6a4b88665a16c9f078,0.0,1.0,0.0,4.0,4.0,1.0,20.037083,21.158449,2.0,...,0.00,0.0,0.0,0.0,907.056,1,1,0,0,1
4,0004aac84e0df4da2b147fca70cf8255,0.0,1.0,0.0,6.0,5.0,0.0,13.141134,18.113808,3.0,...,0.00,0.0,0.0,0.0,2267.208,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93343,fffb09418989a0dbff854a28163e47c6,1.0,0.0,0.0,0.0,5.0,0.0,8.911563,10.100984,1.0,...,0.00,0.0,0.0,0.0,417.600,0,0,0,1,0
93346,fffea47cd6d3cc0a88bd621562a9d061,0.0,1.0,0.0,1.0,4.0,0.0,30.097500,35.655590,1.0,...,0.00,0.0,0.0,0.0,467.208,0,1,0,0,0
93347,ffff371b4d645b6ecea244b27531430a,0.0,1.0,0.0,1.0,5.0,0.0,14.872083,17.968113,4.0,...,137.94,0.0,100.0,0.0,2963.808,0,1,1,0,0
93348,ffff5962728ec6157033ef9805bacc48,0.0,1.0,0.0,5.0,5.0,1.0,11.858854,14.999063,1.0,...,0.00,0.0,0.0,0.0,828.000,1,1,0,1,0
93349,ffffd2657e2aad2907e67c3e9daecbeb,0.0,1.0,0.0,4.0,5.0,0.0,7.552118,10.608785,3.0,...,0.00,59.9,0.0,0.0,1554.408,0,1,1,1,0

### K-means_Input

In [10]:
def to_replace_credit_card_installments(c):
      if c['avg_credit_card_installments'] == 0:
        return 0
      elif ( (c['avg_credit_card_installments'] >0) & (c['avg_credit_card_installments'] <=2) ):
        return 1
      elif ( (c['avg_credit_card_installments'] >=2) & (c['avg_credit_card_installments'] <=4) ):
        return 2
      elif (c['avg_credit_card_installments'] >4):
        return 3
      else:
        return 'Undefined'


def to_replace_review_score(c):
      if c['avg_review_score'] == 0:
        return 0
      elif  (c['avg_review_score'] <4) :
        return 1
      elif  (c['avg_review_score'] == 4) :
        return 2
      elif (c['avg_review_score'] == 5) :
        return 3
      else:
        return 'Undefined'

filter_analysis_input['credit_card_installments_group'] = filter_analysis_input.apply(to_replace_credit_card_installments, axis=1)
filter_analysis_input['review_score_group'] = filter_analysis_input.apply(to_replace_review_score, axis=1)


filter_analysis_input['credit_card_installments_group'].astype(str).astype(int)
kmeans_input = filter_analysis_input[['avg_credit_card_installments', 'total_price_trans', 'review_score_group', '休閒生活_flag', '家居生活_flag']]

In [11]:
# Cluster the data
kmeans_input_std = stats.zscore(kmeans_input)
kmeans = KMeans(n_clusters=7, max_iter = 30).fit(kmeans_input_std)
labels = kmeans.labels_
   
# Glue back to original data
filter_analysis_input['clusters'] = labels

In [14]:
# filter_analysis_input[['avg_credit_card_installments', 'avg_review_score', '休閒生活_flag', '家居生活_flag','total_price_trans','clusters']].groupby(['clusters']).mean()

kmeans_Result = filter_analysis_input[['customer_unique_id','avg_credit_card_installments', 'avg_review_score', '休閒生活_flag', '家居生活_flag','total_price_trans','clusters' ]]
kmeans_Result

,customer_unique_id,avg_credit_card_installments,avg_review_score,休閒生活_flag,家居生活_flag,total_price_trans,clusters
0,0000366f3b9a7992bf8c76cfdf3221e2,8.0,5.0,0,1,935.280,5
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1.0,4.0,0,0,1036.080,0
2,0000f46a3911fa3c0805444483337064,8.0,3.0,0,0,2022.408,5
3,0000f6ccb0745a6a4b88665a16c9f078,4.0,4.0,0,1,907.056,2
4,0004aac84e0df4da2b147fca70cf8255,6.0,5.0,0,0,2267.208,5
...,...,...,...,...,...,...,...
93343,fffb09418989a0dbff854a28163e47c6,0.0,5.0,1,0,417.600,6
93346,fffea47cd6d3cc0a88bd621562a9d061,1.0,4.0,0,0,467.208,0
93347,ffff371b4d645b6ecea244b27531430a,1.0,5.0,0,0,2963.808,0
93348,ffff5962728ec6157033ef9805bacc48,5.0,5.0,1,0,828.000,6
93349,ffffd2657e2aad2907e67c3e9daecbeb,4.0,5.0,1,0,1554.408,6

In [13]:
# kmeans_Result.to_csv("Drive/WiDS/result/kmeans_Result.csv")